@import '../scss/variables.scss';

.popup-info {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 170px;
  left: calc(50% - 110px);
  width: 220px;
  padding: 20px;
  background-color: $light-accent-color;
  border-radius: 10px;

  &_opened {
    display: flex;
  }
  &__title {
    text-align: center;
    font-size: 17px;
    line-height: 1;
    font-weight: 500;
    margin: 0;
  }
  &__list {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
  }
  &__list-item {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
  }
}