@import '../scss/variables.scss';

.page {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 28px;
  color: $text-color;

  &__title {
    margin: 0 0 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
  }
  &__unit {
    margin: 0;
    font-size: 20px;
    line-height: 1.2em;
    font-size: 500;
    &:first-of-type {
      color: $text-green;
    }
    &:last-of-type {
      color: $text-red;
    }
  }
}