@import '../scss/variables.scss';

.page {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 28px;
  color: $text-color;

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    margin: 0 0 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
  }
  &__subtitle {
    margin: 0;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
  }
  &__subtitle-btn {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover path:last-of-type {
      fill: $hover-color;
    }
    &_opened path:last-of-type {
      fill: $hover-color;
    }
  }
  &__unit {
    margin: 0;
    font-size: 20px;
    line-height: 1.2em;
    font-size: 500;
    &:first-of-type {
      color: $text-green;
    }
    &:last-of-type {
      color: $text-red;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 1.3em;
    }
  }
}