@import '../../scss/variables.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 620px;
  margin: 0 auto;

  &__settings-btn {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    &:hover path {
      fill: $text-color;
    }
  }
  &__link {
    color: $text-link-color;
    margin-left: 20px;
    align-self: center;
    text-decoration: none;
    &:hover {
      color: $text-color;
    }
    &_active {
      color: $text-color;
    }
  }  
  &__title {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
  }
}