@import '../../scss/variables.scss';

.navbar {
  display: flex;

  &__link {
    color: $text-link-color;
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      color: $text-input-color;
    }
    &:hover .navbar__icon {
      background-color: $text-input-color;
    }
    &_active {
      color: $active-color;
    }
    @media screen and (max-width: 768px) {
      width: 40px;
    }
  }  
  &__title {
    margin: 5px 0 0 0;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    &_active {
      background-color: $active-color;
    }
  }
}