.settings-panel {
  display: flex;
  justify-content: center;
}

.panel-button {
  width: 46px;
  height: 46px;
  background-color: #233239;
  background-position: center;
  background-size: contain;
  border: 1px solid #607d8b;
  cursor: pointer;
  margin-left: 8px;
  &:first-of-type {
    margin-left: 0;
  }
  &:hover {
    background-color: #364a53;
  }
  &_selected {
    background-color: #364a53;
  }
}