@import '../../scss/variables.scss';

.settings-panel {
  display: flex;
  align-items: center;
  margin: 10px auto 20px;

  &__scroll-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 18px;
    height: 36px;
    border: none;
    background-color: transparent;
    color: $border-color;
    font-size: 28px;
    line-height: 1;
    opacity: .5;
    margin-right: 10px;
    &_blocked {
      opacity: .1;
    }
    &:last-of-type {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

.settings-panel__container {
  width: 262px;
  height: 46px;
  overflow-x: hidden;
}

.settings-panel__wrapper {
  width: 262px;
  height: 46px;
  display: flex;
  transition: .5s;
  transform: translate(0);
}

.settings-panel__button {
  min-width: 46px;
  height: 46px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid $border-color;
  cursor: pointer;
  margin-left: 8px;
  &:first-of-type {
    margin-left: 0;
  }
  &:hover {
    background-color: $hover-color;
  }
  &_selected {
    background-color: $hover-color;
  }
  &_common {
    background-color: transparent;
  }
}