@import '../../scss/variables.scss';

.settings-panel {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}

.panel-button {
  width: 46px;
  height: 46px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  border: 1px solid $border-color;
  cursor: pointer;
  margin-left: 8px;
  &:first-of-type {
    margin-left: 0;
  }
  &:hover {
    background-color: $hover-color;
  }
  &_selected {
    background-color: $hover-color;
  }
  &_common {
    background-color: transparent;
  }
}