@import '../../scss/variables.scss';

.prices {
  display: flex;
  margin: 0 auto;

  &__del-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 30px;
    cursor: pointer;
  }
  &__save-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 30px;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
  }
}

.prices__spinner {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after {
    content: " ";
    display: block;
    width: 124px;
    height: 124px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: #6a88a5 transparent #6a88a5 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.prices__column {
  display: flex;
  flex-direction: column;
}

.price {
  position: relative;
  margin: 4px 20px 4px 0;
  display: flex;
  &:hover {
    cursor: pointer;
  }

  &__subtitle {
    margin: 0 0 0 30px;
    width: 168px;
    font-size: 20px;
  }

  &__input {
    margin-left: 40px;
    width: 50px;
    height: 24px;
    border-radius: 6px;
    text-align: center;
    outline: none;
    font-size: 14px;
    line-height: 1;
    font-size: 500;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    background-color: $light-accent-color;
    border: 1px solid $border-color;
    color: $text-input-color;
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    border: 2px solid transparent;
    &:hover {
      cursor: pointer;
      border: 2px solid $border-color;
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 3px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-color: $dark-accent-color;
  }
}
