.prices {
  display: flex;
  width: 600px;
  margin: 0 auto;

  &__del-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 30px;
    cursor: pointer;
  }
  &__save-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 30px;
    cursor: pointer;
  }
}

.prices__spinner {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after {
    content: " ";
    display: block;
    width: 124px;
    height: 124px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #6a88a5 transparent #6a88a5 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.prices__column {
  display: flex;
  flex-direction: column;
}

.price {
  position: relative;
  margin: 4px 20px 4px 0;
  display: flex;

  &__subtitle {
    margin: 0 0 0 30px;
    width: 168px;
    font-size: 20px;
  }

  &__input {
    margin-left: 40px;
    width: 50px;
    height: 24px;
    border-radius: 6px;
    text-align: center;
    outline: none;
    font-size: 14px;
    line-height: 1;
    font-size: 500;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #7a7a7a;
    color: #607d8b;
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 3px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-color: hsla(192, 11%, 9%, 0.4);
  }
}

.bottom-panel__form {
  display: flex;
}

.bottom-panel {
  margin-top: 20px;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  background-color: #373c47;

  &__label {
    display: flex;
    align-items: center;
    width: 64px;

    p {
      margin: 0;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      text-align: center;
    }
    input {
      margin-left: 10px;
      border-radius: 6px;
      text-align: center;
      border: 2px solid rgb(74, 74, 110);
      outline: none;
    }
  }
  &__checkbox {
  }
  &__input {
    width: 50px;
    height: 24px;
  }
}

.bottom-panel__label {
  margin-left: 20px;
  background-color: #282c34;
  border-radius: 8px;
  padding: 4px 9px;
  cursor: pointer;

  &:first-of-type {
    cursor: default;
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 4px 0;
    background-color: transparent;
  }
}


