@import '../../scss/variables.scss';

.prices {
  display: flex;
  margin: 0 auto;

  &__del-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 30px;
    cursor: pointer;
  }
  &__save-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 30px;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
  }
}

.prices__spinner {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after {
    content: " ";
    display: block;
    width: 124px;
    height: 124px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: #6a88a5 transparent #6a88a5 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.prices__column {
  display: flex;
  flex-direction: column;
}

.price {
  position: relative;
  margin: 4px 20px 4px 0;
  display: flex;
  &:hover {
    cursor: pointer;
  }

  &__subtitle {
    margin: 0 0 0 30px;
    width: 168px;
    font-size: 20px;
  }

  &__input {
    margin-left: 40px;
    width: 50px;
    height: 24px;
    border-radius: 6px;
    text-align: center;
    outline: none;
    font-size: 14px;
    line-height: 1;
    font-size: 500;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    background-color: $light-accent-color;
    border: 1px solid $border-color;
    color: $text-input-color;
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    border: 2px solid transparent;
    &:hover {
      cursor: pointer;
      border: 2px solid $border-color;
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 3px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-color: $dark-accent-color;
  }
}

.bottom-panel__form {
  position: relative;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    margin: 0 10px;
    flex-direction: column;
  }
}

.bottom-panel {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: $light-accent-color;
  @media screen and (max-width: 768px) {
    position: fixed;
    left: -64px;
    top: calc(50% - 117px);
    display: flex;
    flex-direction: column;
    width: 48px;
    margin-top: 0;
    transition: .5s;
    &_opened {
      left: 0;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 32px;
    background-color: $main-color;
    border-radius: 8px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      width: 50px;
      height: 26px;
    }
    p {
      margin: 0;
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      text-align: center;
      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }
    input {
      margin-left: 6px;
      border-radius: 6px;
      text-align: center;
      border: 2px solid $border-color;
      outline: none;
    }
    &_active {
      outline: 2px solid #3c723c;
      background: $deep-accent-color;
    }
  }
  &__checkbox {
    display: none;
    width: 10px;
    height: 10px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__description {
    margin: 0;
    padding-right: 10px;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      display: none;
      writing-mode: vertical-rl;
      position: absolute;
      top: 50px;
      left: 8px;
      padding: 0;
      text-align: center;
      width: 60px;
      font-size: 12px;
      margin: 0 0 10px 0;
    }
  }
  &__content {
    width: 400px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      // display: none;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 180px;
    }
  }
  &__open-btn {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    position: absolute;
    top: 82px;
    left: -24px;
    width: 180px;
    height: 30px;
    background-color: $light-accent-color;
    color: $text-color;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    transform: rotate(270deg);
    background: linear-gradient(-45deg, $main-color, $light-accent-color);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

