$main-color: hsl(220, 13%, 18%);
$light-accent-color: hsl(221, 13%, 25%);
$dark-accent-color: hsl(192, 11%, 9%, .4);
$border-color: hsl(200, 18%, 46%);
$input-color: hsl(0, 0%, 100%);
$hover-color: hsl(199, 21%, 27%);

$text-color: hsl(209, 25%, 53%);
$text-link-color: hsl(0, 0%, 100%);
$text-input-color: hsl(200, 18%, 46%);
$text-green: rgb(60, 114, 60);
$text-red: rgb(114, 60, 60);